html, body {
  height: 80%;
  width: 100%;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.container{
  height: 120vh;
  width: 100%;
  background-image: url(6.jpg);
  background-position: right;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

ul{
  display: flex;
  justify-content: left;
  align-items: left;
  background: saddlebrown;
  background-position: fixed;
  border-radius: 20%;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 7px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #ff7;
}

.aboutme h1{
  font-size: 60px;
  font-weight: 100;
  margin-top: 60px;
  margin-bottom: 20px;
  color: ghostwhite; 
  align-items: center;
}

.sub-head{
  font-size: 18px;
  color: black;
  font-size: bold;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #32090677;
  box-shadow: black;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: absolute;
  background: #ff7;
}

.aboutme{
  margin-left: 0%;
  margin-top: 10%;
}

.content{
  font-size: 18px;
  color: black;
  font-size: bold;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: whitesmoke;
  box-shadow: black;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: absolute;
  background: saddlebrown;
  font-family: Time New Roman;
}

.feature-img{
  width: 500px;
  height: 80%;
  position: absolute;
  bottom: 0%;
  right: 60px;
  border-radius: 2%;
  top: 170px;
  left: 60%;
  

}


content{
  padding-left: 20px;
  padding-bottom: 25px;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 5px;
  color: ghostwhite;
  font-size: bold;
  font-family: Poppins;
  border-radius: 10px;
  padding: 8px;
  right: 20%;
  margin-left: 20%
}


.experience{
  font-size: 18px;
  color: black;
  font-size: bold;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: whitesmoke;
  box-shadow: black;
  height: 150px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: absolute;
  background: orange;
  font-family: Time New Roman;
  align-items: center;
  right: 10%;
  margin-left: 2%
}














experience{
  padding-left: 20px;
  padding-bottom: 25px;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: ghostwhite;
  font-size: bold;
  font-family: Poppins;
  text-decoration: none;
  background: black;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 0px;
  border-radius: 100px;
}
contactpage{
 width: 250px;
  height: 380px;
  background: whitesmoke;
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  margin: 1px;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: left;
  align-items: left;
}

contactpage h1{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

